  h1, h2 {
    font-weight: 100;
  }
  
  .text-white {
    color: #fff;
  }
  
  .btn-white {
    color: #fff;
    border: 1px solid #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    background-color: rgba(0,0,0,0.0);
  
    &:hover {
      color: #fff;
    }
  }
  
  .top-hero-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url('bg-top.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
  }
  
  .top-hero-container {
    padding-top: 220px;
    h1 {
      font-size: 56px;
      margin-bottom: 20px;
    }
  
    h2 {
      margin-bottom: 60px;
    }
  }

  .form-control {
    height: 45px;
  }
  
  .users-new-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url('bg-top.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
  
    .users-new-container {
      padding-top: 220px;
  
      .form-group {
        margin-bottom: 20px;
      }
    }
  }

  .alert {
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    z-index: 10000;
  }

  .navbar-transparent {
    margin-bottom: 0px;
    background-color: rgba(0,0,0,0.5);
    a {
      color: #fff !important;
    }
  
    .navbar-brand {
      padding: 0px;
      margin-top: 15px;
    }
  
    img {
      height: 40px;
    }
  }

  .btn-black {
    color: #565656;
    border: 1px solid #565656;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    background-color: rgba(0,0,0,0.0);
  
    &:hover {
      color: #565656;
    }
  }
  
  .topic-new-wrapper {
    padding-top: 120px;
  }

  .topic-index-wrapper {
    padding-top: 70px;
    background-color: #fafafa;
    .topic-index-single {
      background-color: #fff;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-top: 30px;
      border: 1px solid #e6ecf0;
      border-radius: 3px;

      h4.topic-author {
        margin-left: 15px;
        padding: 0.25em 0.5em;/*上下 左右の余白*/
        color: #494949;/*文字色*/
        background: transparent;/*背景透明に*/
        border-left: solid 5px #7db4e6;/*左線*/
      }

      .topic-title {
        color: #999999;
        padding-right: 20px;
        padding-left: 20px;
      }

      .inner-row {
        margin: 10px 0;

        .add-comment{
          opacity: 0.8;
        }

        .add-favorite{
          opacity: 0.9;
          text-decoration: none;
        }

        .add-favorite:hover{
          opacity: 1.2;
        }

        .add-comment:hover{
          cursor:pointer;
          opacity: 1;
        }
      }
  
      .topic-text {
        padding-right: 20px;
        padding-left: 20px;
        word-wrap: break-word;
        font-size: 20px;
      }
  
      img {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
      }
  
      .topic-index-icon {
        width: 35px;
        height: 30px;
        margin-left: 20px;
        vertical-align: middle;
        color: #337ab7;
      }
    }
  }

  .comment-area {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    display: none;
  }

  .comment-title {
      font-weight: bold;
  }

  .comment-body-area {
    padding-left: 5px;

    .comment-body {
      opacity: 1;
      transition: all 0.3s ease 0s;
    }

    .comment-body.is-hidden {
      opacity: 0;
      height: 0;
      margin: 0;
    }

    .more {
      color: #337ab7;
      cursor:pointer;
    }
  }

  .comment-form {
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .topic-createddate, .topic-author {
    margin-right: 15px;
    color: grey;
    padding-right: 20px;
    padding-left: 20px;
  }

.search-form {
  display: none;
  position: relative;
  top: 50%;
  left : -100%;
  width: 350px;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translate(-50%, -50%);
  background: #fff;
  transition: all 0.3s ease;
  opacity: 0;

  &.focus {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  }
}

.search-input {
  position: absolute;
  top: 10px;
  left: 38px;
  font-size: 14px;
  background: none;
  color: #5a6674;
  width: 195px;
  height: 20px;
  border: none;
  appearance: none;
  outline: none;

  &::-webkit-search-cancel-button {
    appearance: none;
  }
}

.search-button {
  position: absolute;
  top: 10px;
  left: 15px;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none!important;
  cursor: pointer;
  
  & svg {
    width: 20px;
    height: 20px;
    fill: #5a6674;
  }
}

.search-form-area {
  display: inline;
}

.side-menu {
  width: 20%;
  height: 100%;
  position: fixed;
  left: 90px;
}

.inner-menu {
  margin-top: 200px;
}

#wrap {
	width: 300px;
  margin: 0 auto;
  
  ul.order-list {
    list-style: none;
    text-align: center;
    padding-left: 0;
    margin-top: 25px;
  
    li{
      display: none;
      line-height: 55px;
      font-size: 23px;
      position: relative;
    }

    a.active::before {
      content: '';
      display: block;
      position: absolute;
      top: 1em;
      left: -1.5em;
      width: 10px;
      height: 5px;
      border-left: 2px solid #31aae2;
      border-bottom: 2px solid #31aae2;
      transform: rotate(-45deg);
      vertical-align: middle;
    }
  
    a{
      color: #999999;
      text-decoration: none;
      position: relative;
      display: inline-block;
      transition: .3s;
    }
    
    a::after {
      position: absolute;
      bottom: 0;
      left: 50%;
      content: '';
      width: 0;
      height: 2px;
      background-color: #31aae2;
      transition: .3s;
      transform: translateX(-50%);
    }
    
    a:hover::after{
      width: 100%;
    }
  }
}

#pagenate {
  font-size: 18px;
  margin: 45px 0;
  opacity: 0;
  position: relative;
  left: -50%;

  nav {
    display: block;
    text-align: center;
  }

  span {
    margin: 4px;
    a {
      color: #7db4e6;
    }
  }
}